@import '../mixin/color.scss';

$header-height:70px;

.header{
  background-color: $background-primary;
  color: $text-primary;
  width: 100%;
  height: $header-height;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
}

.user-card::before{
  content: '[ ';
}

.user-card::after{
  content: ' ]';
}

.logout{
  height: $header-height;
}

.logout:hover{
  background-color: $background-subsidiary;
  cursor: pointer;
}